.bruh {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    flex-grow: 1;
    flex-shrink: 1;
}

.message-icon {
    cursor: pointer;
    margin-right: 10px;
}

.message-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: none;
    color: #000000;
}

.message-container.active {
    display: block;
}
